@{
    ViewBag.Title = "Home Page";
}


<h1>Class</h1>
<div ng-controller="ClassesController">
    Search: <input type="text" ng-model="searchText" />
    {{searchText}}
    <br />
    <h3>People:</h3>
    <table>
        <tr ng-repeat="class in classes | filter:searchText | 
            orderBy: 'name' | orderBy: 'classification'">
            <td>{{class.name}} - {{class.classification | uppercase}}</td>
            <td></td>
        </tr>
    </table>
</div>

@section scripts
{
    <script>
        var app = angular.module("classesApp", [])

        app.controller('ClassesController', function ($scope) {
            $scope.classes = [
            { "id": 1, "name": "Daniel Pollock", "classification": "Teacher" },
            { "id": 2, "name": "Cason Barnhill", "classification": "Student" },
            { "id": 3, "name": "Josh Hill", "classification": "Student" },
            { "id": 4, "name": "Justin Wyatt", "classification": "Student" },
            { "id": 5, "name": "Baxley Aldworth", "classification": "Student" },
            { "id": 6, "name": "Cason Boooo", "classification": "Student" },
            { "id": 6, "name": "Cason Adams", "classification": "Student" },
            { "id": 7, "name": "Daniel Adams", "classification": "Teacher" }

            ];
        });
    </script>
}
