@{
    ViewBag.Title = "Home Page";
}


<h1>Class</h1>
<div ng-controller="ClassesController">
    Search: <input type="text" ng-model="searchText" />
    {{searchText}}
    <br />
    <h3>People:</h3>
    <table>
        <tr ng-repeat="class in classes | filter:searchText">
            <td>{{class.name}}</td>
            <td></td>
        </tr>
    </table>
</div>

@section scripts
{
    <script>
        var app = angular.module("classesApp", [])

        app.controller('ClassesController', function ($scope) {
            $scope.classes = [
            { "id": 1, "name": "Daniel Pollock", "class": "Teacher" },
            { "id": 2, "name": "Cason Barnhill", "class": "Student" },
            { "id": 3, "name": "Josh Hill", "class": "Student" },
            { "id": 4, "name": "Justin Wyatt", "class": "Student" },
            { "id": 5, "name": "Baxley Aldworth", "class": "Student" }
            ];
        });
    </script>
}
